<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ipfsHost" value="http://localhost:5001" />
    <add key="gethHost" value="http://localhost:8545" />
    <add key="contractAddress" value="" />
    <add key="brokerAddress" value="" />
    <add key="brokerPassword" value="" />
    <add key="serverId" value="" />
  </appSettings>
</configuration>