<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" layout="${longdate} - ${message}" fileName="${basedir}/Logs/${level}/${shortdate}.log" encoding="UTF-8" />
    <target name="console" xsi:type="ColoredConsole" layout="${level} ${date:format=HH\:mm\:ss}   ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console" />
  </rules>
</nlog>